[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-login = "*"
flask-mail = "*"
flask-wtf = "*"
email-validator = "*"
bcrypt = "*"
turbo-flask = "*"
python-dateutil = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
